.liveres-sidenav {
  padding:10px;
  min-width: 200px;
  min-height: 100%;
  background-color: #eaeaea;
}

.liveres-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.app-content {
  margin-top:4vh;
}
.categorylist {
  margin-top:20px;
}